<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- Test Suite > Test Folder(Shell/Module/Folder) > Test Cases -->
<suite name = "E-Commerce App">
    <test name = "E-Commerce App">
        <classes>
            <class name = "ApiAppPractice.ApiAppTests"/>
            <class name = "EcommerceAppPractice.ECommerceAppTests"/>
        </classes>
    </test>
</suite>